.display_item {
    width: 100%;
    height: 100%;
    flow-children: down;

    color: white;
    text-shadow: 2px 2px 8px 1.0 black;
    opacity: 0.0;
    transition: opacity 0.4s linear 0.0s;
}

.display_item:selected {
    opacity: 1.0;
    z-index: 2;
}

.display_bar_container {
    width: 100%;
    //height: fit-children;
    height: 35px;
    flow-children: none;
}

.display_info_health {
    width: 100%;
    height: 20px;
    position: 0px 0px 0px;
    overflow: clip;

    background-color: gradient(linear, 0% 100%, 0% 0%, from(#112211), color-stop(0.3, #117711), color-stop(0.70, #118811), color-stop(0.92, #55bb55), to(#ffffff));
    border-radius: 6px;
    font-size: 14;
}

.bar_spacer {
    width: 97.1%;
    height: 3px;
    horizontal-align: center;
    position: 0px 18px -1px;
    background-color: #111111;
}

.display_info_mana {
    width: 100%;
    height: 15px;
    position: 0px 19px 0px;
    overflow: clip;

    background-color: gradient(linear, 0% 100%, 0% 0%, from(#111188), color-stop(0.3, #104070), color-stop(0.7, #1050cc), color-stop(0.90, #7070ff), to(#000000));
    border-radius: 4px;
    font-size: 12;
}

.display_info_bar_text {
    horizontal-align: center;
    vertical-align: center;
    text-shadow: 0px 1px 2px 1.6 black;
}

.display_info {
    width: 100%;
    height: fit-children;
    flow-children: right;
}

.display_info_stats {
    width: 96px;
    height: 92px;
    flow-children: none;
}

.display_info_damage {
    width: 100%;
    height: 50px;
    position: -2px 0px 0px;

    background-image: url('s2r://panorama/images/hud/hudv2_icondamage_png.vtex');
    //background-size: 150px 55px;
    background-size: 120px 44px;
    background-position: -2px -3px;
    font-size: 12;
}

.display_info_damage_text {
    horizontal-align: center;
    vertical-align: top;
    margin-top: 13px;
}

.display_info_armor {
    width: 44px;
    height: 42px;
    position: 6px 36px 0px;

    background-image: url('s2r://panorama/images/hud/hudv2_iconarmor_png.vtex');
    background-size: 34px 30px;
    background-position: 35% 0px;
    background-repeat: no-repeat;
}

.display_info_speed {
    width: 40px;
    height: 42px;
    position: 43px 36px 0px;

    background-image: url('s2r://panorama/images/hud/hudv2_iconspeed.png');
    background-size: 34px 30px;
    background-position: 100% 0px;
    background-repeat: no-repeat;
}

.display_info_armorspeed_text {
    horizontal-align: center;
    vertical-align: bottom;
    font-size: 12;
}

.display_info_skill_container {
    width: 300px;
    height: 100%;
    margin-top: 10px;
    flow-children: right;
    //overflow: scroll clip;
    overflow: clip clip;
}

.display_info_skill {
    width: 67px;
    height: 67px;
    margin-right: 10px;

    border-radius: 4px;
    box-shadow: inset #000000dd 1px 1px 2px 2px;
}

.dim_panel {
    opacity:    0.8;
    brightness: 0.2;
    saturation: 0.0;
}