.root {
    width: 840px;
    height: 746px;
    position: -420px 60px 0px;
    flow-children: none;
}

.menu {
    width: 420px;
    height: 680px;
    padding: 8px;
    padding-top: 12px;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #000000de;
    border-right-width: 2px;
    border-left-style: none;
    box-shadow: inset #000000 0px 1px 4px 2px;
    background-color: #111111df;

    transition: position 0.3s ease-in 0s;
    flow-children: down;
}

.tab_container {
    width: 100%;
    height: 42px;
    padding-bottom: 12px;
    vertical-align: top;
    flow-children: right;
    border-bottom: 1px solid #000000de;
}

.tab {
    width: 50%;
    height: 100%;
}

.tab_button {
    width: 100%;
    height: 100%;
    horizontal-align: center;
    vertical-align: center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc ), to( #879695cc ) );
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: 100% 100%;
    border-radius: 4px;
    transition: box-shadow 0.4s linear 0.0s;
}

.tab_button:active {
    width: 94%;
    height: 94%;
}

.tab_button:active .button_text {
    font-size: 17;
}

.tab_button:hover {
    box-shadow: white 0px 1px 6px 0px;
}

.tab_button:selected {
    box-shadow: teal 0px 1px 6px 0px;
}

.tb_left {
    margin-right: 5px;
}

.tb_right {
    margin-left: 5px;
}

.body {
    width: 100%;
    height: 100%;
    flow-children: none;
}

.body_tab {
    width: 100%;
    height: 100%;
    opacity: 0.0;
    z-index: 0;
    transition: opacity 0.4s linear 0.1s;
    flow-children: none;
}

.body_tab_visible {
    opacity: 1.0;
    z-index: 1;
}

.list {
    width: 100%;
    height: 420px;
    margin-bottom: 10px;
    //padding-right: 20px;
    position: 0px 10px 0px;
    transition: opacity 0.4s linear 0.0s;
    //flow-children: down;
    flow-children: right-wrap;
    //overflow: clip scroll;
}

.list_trap_item {
    width: 72px;
    height: 72px;
    margin-right: 10px;
    margin-bottom: 10px;

    background-image: url("file://{images}/custom_game/empty_slot_avatar.png");
    background-size: 100%;
    border-radius: 4px;
    //border: 1px solid #000000ee;
    //box-shadow: #000000dd 0px 0px 1px 0px;
    box-shadow: inset #000000dd 1px 1px 2px 2px;

    tooltip-position: right;
    tooltip-body-position: 0px 9px;
    tooltip-arrow-position: 0px 36px;
}

.list_trap_item:selected {
    border: 2px solid teal;
    box-shadow: teal 0px 0px 8px 1px;
}

.list_trap_item:hover, .list_trap_item:selected:hover {
    border: 2px solid white;
    box-shadow: white 0px 0px 8px 1px;
}

#list2 {
    height: 334px;
    margin-bottom: 0px;
    border-bottom: 0px solid red;
}

.list_hidden {
    opacity: 0.0;
}

.spacer {
    width: 100%;
    position: 0px 440px 0px;
    border-bottom: 1px solid #000000de;
}

.creep_upgrades {
    width: 100%;
    height: 20px;
    position: 0px 344px 0px;
    z-index: 2;
    //background-color: #00000044;
    transition-property: position, height, background-color;
    transition-timing-function: linear;
    transition-duration: 0.4s;
    flow-children: none;
}

.creep_upgrades_visible {
    height: 354px;
    position: 0px 0px 0px;
    background-color: #00000088;
}

.creep_upgrades_button {
    width: 48px;
    height: 6px;
    horizontal-align: center;
    position: 0px 4px 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #000000aa;
    transition-property: width, height, position, border-radius, background-color;
    transition-timing-function: linear;
    transition-duration: 0.1s;
}

.creep_upgrades_button:hover {
    width: 72px;
    height: 9px;
    position: 0px 1px 0px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: #000000de;
}

.creep_upgrades_button_toggled {
    //transition: position 0.4s linear 0.0s;    
    //transition: border-radius 0.4s linear 0.0s;
    position: 0px 0px 0px;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.creep_upgrades_button_toggled:hover {
    position: 0px 0px 0px;
    border-radius: 0px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.creep_tab {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.0;
    z-index: 0;
    transition: opacity 0.4s linear 0.0s;
    flow-children: down;

    border: 1px solid red;
}

.creep_tab_visible {
    opacity: 1.0;
    z-index: 3;
}

.creep_upgrade_tree {
    width: 100%;
    height: fit-children;
}

.creep_slot_container {
    width: 100%;
    height: 86px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: 0px 354px 0px;
    border-top: 1px solid #000000de;
    border-bottom: 1px solid #000000de;
    flow-children: right;
    overflow: scroll squish;
}

.creep_slot {
    width: 67px;
    height: 67px;
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: center;
    border: 1px solid #00000066;
    background-color: #000000aa;
    background-size: 100% 100%;
}

.creep_slot:selected {
    border: 1px solid teal;
    box-shadow: teal 0px 0px 4px 0px;
}

.creep_slot_first {
    margin-left: 0px;
}

.creep_slot_last {
    margin-right: 0px;
}

.display {
    width: 100%;
    height: 162px;
    position: 0px 450px 0px;

    //border: 1px solid #00000066;
    //background-color: #000000aa;
}

.display_creeps {
    opacity: 0.0;
}

.display_creeps_visible {
    opacity: 1.0;
    z-index: 1;
}

.toggle_button {
    width: 200px;
    height: 34px;
    vertical-align: bottom;
    horizontal-align: right;
    //margin-right: 137px;
    margin-right: 166px;

    /*background-color: gradient( linear, 100% 100%, 100% 100%, from(#5A615Ecc), to(#879695) );*/
    background-color: gray;
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: 100% 100%;
    border-radius: 4px;
    //box-shadow: black -1px -1px 8px 2px;
    box-shadow: black 0px 1px 6px 0px;
    transition: box-shadow 0.1s linear 0.0s;
}

.toggle_button:active {
    width: 198px;
    height: 33px;
    margin-right: 167px;
}

.toggle_button:active .button_text {
    font-size: 17;
}

.toggle_button:hover {
    box-shadow: white 0px 1px 6px 0px;
}

.toggle_button:selected {
    box-shadow: teal 0px 1px 6px 0px;
}

.toggle_button:selected:hover {
    box-shadow: red 0px 1px 6px 0px;
}

.button_text {
    horizontal-align: center;
    vertical-align: center;
    font-size: 18;
    color: white;
    text-shadow: 2px 2px 8px 1.0 black;
}


/* *********** */
/* Scroll Bars */
/* *********** */
VerticalScrollBar
{
    width: 10px;
    height: 100%;
    margin-left: 10px;
    //margin-bottom: 10px;
    //background-color: rgba(0, 0, 0, 128);
    //box-shadow: fill #00000055 -3px 0px 3px 4px;
    background-color: #000000aa;
    border: 1px solid #00000066;
    horizontal-align: right;
    vertical-align: center;

    transition-property: transform;
}

VerticalScrollBar .ScrollThumb
{
    width: 10px;
    min-height: 32px;  // need to get the scrollthumb to hit the bottom of the scrollbar
    //border-right: 1px solid #000000bb;
    //border-left: 1px solid #000000bb;
    //background-color: #666666aa;
    background-color: #000000aa;
    /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #3e4446 ), to( #33383a ) );*/
    transition-property: position;
    transition-property: background-color, transform;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

VerticalScrollBar:hover .ScrollThumb
{
    //background-color: #566767;
    background-color: #000000dd;
}

VerticalScrollBar, 
VerticalScrollBar .ScrollThumb,
{
    // The transition duration and timing function must match constants used in code:
    // k_flScrollTransitionTime, k_flScrollTransitionFunc, so dont change without talking with a dev
    transition-duration: 0.20s;
    transition-timing-function: ease-in-out;
}

VerticalScrollBar.MouseDown, 
VerticalScrollBar.MouseDown .ScrollThumb,
{
    // Disable the transition when the mouse is dragging the scroll thumb. Note that this must match
    // when IUIScrollBar::IsMouseDown returns true, or else the content will be out of sync
    transition-duration: 0.0s;
}