# Cache crap that Valve autogenerates
*.bin

# valve compiled formats  (excluding meshes\models and some others)
*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vsnd_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c

# panorama compiled textures
!game/dota_addons/dotacraft/panorama/images/*.vtex_c
!game/dota_addons/dotacraft/panorama/images/custom_game/*.vtex_c

# map files
*.vpk

# map overviews
content/dota_addons/dotacraft/materials/overviews/*
game/dota_addons/dotacraft/materials/overviews/*
game/dota_addons/dotacraft/resource/overviews/*

# github dump
*.stackdump

# individual cases / added by sourcetree
game/dota_addons/trap_wars/panorama_debugger.cfg
game/dota_addons/trap_wars/models/misc/dollar_sign_lowpoly.vmdl_c
game/dota_addons/trap_wars/models/misc/dollar_sign_lowpoly.vmesh_c
game/dota_addons/trap_wars/models/misc/dollar_sign_lowpoly_6fc1e360.vmesh_c