// OVERARCHING CLASSES
.dim_panel {
    opacity:    0.8;
    brightness: 0.2;
    saturation: 0.0;
}


// TITLE
#title {
    position: 0px 0px 0px;

    color: white;
    font-size: 20;
    text-shadow: 1px 1px 3px 1.5 black;
}

#level_container {
    position: 0px 0px 0px;
    horizontal-align: right;

    color: white;
    font-size: 20;
    text-shadow: 1px 1px 3px 1.5 black;

    flow-children: right;
}

#gold_icon {
    position: 0px 16px 0px;
    width: 25px;
    height: 25px;
}

#gold {
    min-width: 26px;
    position: 29px 21px 0px;
    //vertical-align: bottom;
    //margin-bottom: 3px;

    color: gold;
    font-size: 17;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px 1.0 black;
}

#class {
    position: 0px 21px 0px;
    horizontal-align: right;
    margin-right: 1px;

    color: gray;
    font-size: 17;
    font-style: italic;
    text-shadow: 1px 1px 3px 1.0 black;
}


// STATUS BARS
.bar_text {
    horizontal-align: center;
    vertical-align: center;

    color: white;
    text-shadow: 0px 1px 2px 1.6 black;
}


#health_bar {  // FIXME: RE-STYLE THIS
    width: 100%;
    height: 20px;
    position: 0px 39px 0px;

    background-color: gradient(linear, 0% 100%, 0% 0%, from(#112211), color-stop(0.30, #117711), color-stop(0.70, #118811), color-stop(0.92, #55bb55), to(#ffffff));
    //border-radius: 6px;
    border-radius: 3px;

    font-size: 14;
}

#mana_bar {  // FIXME: RE-STYLE THIS
    width: 100%;
    height: 15px;
    position: 0px 58px 0px;

    // some trial and error was required ...
    //background-color: gradient(linear, 0% 100%, 0% 0%, from(#111188), color-stop(0.30, #104070), color-stop(0.70, #1050cc), color-stop(0.90, #7070ff), to(#000000));
    //background-color: gradient(linear, 0% 100%, 0% 0%, from(#001F99), color-stop(0.40, #006699), color-stop(0.70, #005F99), color-stop(0.86, #247CA8), to(#005799));
    //background-color: gradient(linear, 0% 100%, 0% 0%, from(#111122), color-stop(0.30, #111177), color-stop(0.70, #111188), color-stop(0.92, #5555bb), to(#ffffff));

    background-color: gradient(linear, 0% 100%, 0% 0%, from(#111A22), color-stop(0.30, #114477), color-stop(0.70, #114D88), color-stop(0.92, #5588BB), to(#6699CC));    
    //border-radius: 4px;
    border-radius: 3px;

    font-size: 12;
}


// STATS
.stats_text {
    horizontal-align: center;
    vertical-align: center;

    color: white;
    font-size: 13;
    font-weight: thin;
    text-align: center;
}


#damage_image {
    width: 76px;
    height: 32px;
    position: 0px 74px 0px;

    background-image: url('s2r://panorama/images/hud/hudv2_icondamage_png.vtex');
    background-size: 132% 128%;
    background-position: 20% 55%;
    background-repeat: no-repeat;
}

#armor_image {
    width: 34px;
    height: 80px;
    position: 4px 102px 0px;

    background-image: url('s2r://panorama/images/hud/hudv2_iconarmor_png.vtex');
    //panorama/images/badges/fall_2016_battle_pass_badge_2_png.vtex
    background-size: 110% 44%;
    background-position: 50% -2%;
    background-repeat: no-repeat;
}

#speed_image {
    width: 34px;
    height: 80px;
    position: 35px 102px 0px;

    background-image: url('s2r://panorama/images/hud/hudv2_iconspeed.png');
    background-size: 110% 42%;
    background-position: -40% 0%;
    background-repeat: no-repeat;
}


// SKILL ICONS
.skill_icon {
    width: 68px;
    height: 68px;
    position: 0px 81px 0px;

    border-radius: 4px;
    box-shadow: inset #000000dd 1px 1px 2px 2px;
}

#skill_1 {
    x: 78px;
}

#skill_2 {
    x: 156px;
}

#skill_3 {
    x: 234px;
}

#skill_4 {
    x: 312px;
}



// BUTTONS
.buttons {
    width: 185px;
    height: 30px;
    position: 0px 157px 0px;

    border-radius: 1px;
    //background-color: gray;
    background-image: url("s2r://panorama/images/gray_button_on_png.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;

    //panorama/images/gray_button_on_png.vtex
    //panorama/images/hud/button_thin_secondary_png.vtex
    //panorama/images/hud/buyback_active_png.vtex
}

.button_wash {
    width: 100%;
    height: 100%;
    position: 0px 0px 0px;
}

.button_icon {
    width: 26px;
    height: 26px;
    position: 8px 2px 0px;

    //panorama/images/compendium/coin_icon_png.vtex
    //panorama/images/compendium/compendiumcoins_fallmajor_png.vtex
    //panorama/images/compendium/compendiumcoins_ti5_png.vtex
    //panorama/images/control_icons/gear_shadow_png.vtex
    //panorama/images/control_icons/settings_png.vtex
}

.button_text {
    position: 35px 7px 0px;
    //width: 40px;
    min-width: 26px;

    color: gold;
    font-size: 17;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px 1.0 black;
}

.button_label_text {
    position: 0px 7px 0px;
    horizontal-align: right;
    margin-right: 8px;

    color: white;
    font-size: 17;
    font-weight: bold;
    text-shadow: 1px 1px 2px 1.0 black;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 1px;
}

.buttons:active {
    width: 175px;
    height: 28px;
    transform: translate3d(5px, 1px, 0px);
}

.buttons:active .button_label_text {
    transform: translate3d(0px, -1px, 0px);
    font-size: 16;
}

.buttons:active .button_icon {
    width: 25px;
    height: 25px;
    transform: translate3d(-4px, 0px, 0px);
}

.buttons:active .button_text {
    transform: translate3d(-4px, -1px, 0px);
    font-size: 16;
}


#button_upgrade {
    x: 0px;
}

#button_upgrade:hover {
    box-shadow: #ffd70022 0px 0px 4px 0px;
}

#button_upgrade:hover .button_wash {
    background-color: #ffd70022;
}

#button_sell {
    x: 195px;
}

#button_sell:hover {
    box-shadow: #ff000022 0px 0px 4px 0px;
}

#button_sell:hover .button_wash {
    background-color: #ff000022;
}

#button_sell_text {
    color: #00ff00;
}