.tab_button {
	width: 185px;
	height: 30px;

    border-radius: 2px;

    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc ), to( #879695cc ) );
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: 100% 100%;

    font-size: 18;

    //transition: box-shadow 0.2s linear 0.0s;
}

.wash_color {
    width: 100%;
    height: 100%;
}

.tab_button:hover {
    box-shadow: #ffffff42 0px 1px 6px 0px;
}

.tab_button:hover .wash_color {
    background-color: #ffffff11;
}

.tab_button:active {
    width: 177px;
    height: 28px;

    font-size: 17;
}

.tab_button:selected {
    box-shadow: #00808088 0px 1px 6px 0px;
}

.tab_button:selected .wash_color {
    background-color: #00808066;
}

.tab_button:selected:hover {
    box-shadow: #80C0C066 0px 1px 6px 0px;
}

.tab_button:selected:hover .wash_color {
    background-color: #80C0C040;
}



#tab_button_1 {
	position: 0px 0px 0px;
}

#tab_button_2 {
	position: 195px 0px 0px;
}

#tab_button_1:active {
	position: 4px 1px 0px;
}

#tab_button_2:active {
	position: 199px 1px 0px;
}



.tab_button_label {
    horizontal-align: center;
    vertical-align: center;

    color: white;
    text-shadow: 1px 1px 2px 1.0 black;
}