<root>
    <styles>
        <!-- <include src="s2r://panorama/styles/dotastyles.css" /> -->
        <include src="file://{resources}/styles/custom_game/menu/menu.css" />
    </styles>
    <scripts>
        <include src="file://{resources}/scripts/custom_game/menu/menu.js" />
        <include src="file://{resources}/scripts/custom_game/menu/ghost.js" />
    </scripts>


    <Panel class="root" hittest="false">

        <Panel id="menu" class="menu">
            <!-- Tab Bar at the top of the menu -->
            <Panel class="tab_container">
                <Panel class="tab">
                    <RadioButton id="tab1_btn" class="tab_button tb_left" group="tab_btns" onactivate="SwitchToBodyTab('tab1')" checked="checked">
                        <Label class="button_text" text="Traps"  />
                    </RadioButton>
                </Panel>

                <Panel class="tab">
                    <RadioButton id="tab2_btn" class="tab_button tb_right" group="tab_btns" onactivate="SwitchToBodyTab('tab2')">
                        <Label class="button_text" text="Creeps" />
                    </RadioButton>
                </Panel>

            </Panel>

            <!-- The main content of the menu -->
            <Panel class="body">
                <Panel id="tab1" class="body_tab body_tab_visible">
                    <Panel id="list1" class="list">
                        <Panel id="column_1" class="list_column" />
                        <Panel id="column_2" class="list_column" />
                        <Panel id="column_3" class="list_column" />
                        <Panel id="column_4" class="list_column" />
                        <Panel id="column_5" class="list_column" />                       
                    </Panel>

                    <Panel class="spacer" />
                    <Panel id="display1" class="display" />
                </Panel>

                <Panel id="tab2" class="body_tab">
                    <Panel id="list2" class="list" />

                    <Panel id="upgrades" class="creep_upgrades">
                        <Button id="upgrades_btn" class="creep_upgrades_button" onactivate="ToggleUpgrades()" />
                    </Panel>
                    <Panel id="slot_container" class="creep_slot_container" />
            
                    <Panel id="display2" class="display display_creeps display_creeps_visible" />
                    <Panel id="display3" class="display display_creeps" />
                </Panel>

            </Panel>
        </Panel>


        <Button id="menu_toggle" class="toggle_button" onactivate="ToggleMenu()">
            <Label class="button_text" text="Upgrades" />
        </Button>

    </Panel>
</root>
